.form{
    max-width: 720px;
    display: flex;
    align-items: center;
    
    
}
.form-div{
    max-width: 770px;
    border: 1px solid rgba(7, 7, 7, 0);
    border-radius: 4px;
    padding: 20px 20px 60px;
    box-shadow: rgba(0, 0, 0, 0.527) 0px 22px 70px 4px;
    
    
}
.form-p{
    text-align: center;
    text-shadow: 10px 7px 22px black, 0 0 1em rgba(0, 0, 0, 0.527), 0 0 0.2em rgba(0, 0, 0, 0.527);
        color: rgb(12, 12, 12);
}
.form input{
    box-shadow: rgba(0, 0, 0, 0.527) 0px 22px 70px 4px;   
    border: none;
    background-color: #989898;
    text-align: center;
    
}
 input:focus {
     outline: 1px solid rgb(168, 74, 168);

 }
 input:hover{
     background-color: black;
     color: antiquewhite;
 }
.form button{
    font-size:18px ;
    text-align: center;
    padding: 10px;
    color: rgb(241, 234, 240);
    font-weight: bold;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #989898;
    background-blend-mode: multiply, multiply;
    border-radius: 3px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

}